<html>
  <head>
    <title>My page</title>
  </head>
  <body bgcolor=white>

    <table border="0" cellpadding="10">
      <tr>
        <td>
         <a href='/about'><img src="http://octodex.github.com/images/octobiwan.jpg"></a>
        </td>
        <td>
          <div style="text-color:black;width:40%;height:60%;border-radius:5px;border:5px solid black;font-size:36pt;text-align:justify;font-family:Arial">
          <p>Come Rock With The Cat!!</p>
         </div>
      </tr>
    </table>

  </body>
</html>
